doctype html
html
  head
    meta(charset='utf-8')
    title #{title}
    link(rel='stylesheet' href='/css/app.css')
  body
    block content
    footer.footer
        .uk-container
            p.footer-copy &copy; 2019 cjk4wp
    script(src='/js/uikit.min.js')
    script(src='/js/uikit-icons.min.js')