doctype html
html
  head
    meta(charset='utf-8')
    title #{title}
    link(rel='stylesheet' href='/css/app.css')
  body
    div(uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; bottom: #transparent-sticky-navbar")
        nav.uk-navbar-container(uk-navbar style="position: relative; z-index: 980;")
            .uk-navbar-left
                ul.uk-navbar-nav
                    li
                        a(href="https://github.com/cjk4wp/cjk4wp")
                            span(uk-icon='github')
    block content
    footer.footer
        .uk-container
            p.footer-copy &copy; 2019 cjk4wp
    script(src='/js/uikit.min.js')
    script(src='/js/uikit-icons.min.js')